/* Navbar style */
.navbar-light, .navbar-nav, 
.nav-link, .navbar-brand {
    color: #ff6a00; 
}

.logo {
    height: 50px;
    padding-right: 20px;
}

/* Homepage background image */

.homePage {
    color: #000000; 
    padding: 50px; 
}


/* Bottom Navbar styling */
.fixed-bottom {
    background-color: #2c3e50;
}

/* Style the copyright text in the bottom navbar */
.fixed-bottom .navbar-text {
    color: #fff;
}

P {
    text-align: center;
    color: saddlebrown;
}
H1 {
    text-align: center;
    color: saddlebrown;
}
H2 {
    text-align: center;
    color: saddlebrown;
}

/* make image not ugly */
img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    clip-path: circle();
}

/* Makes input forms less ugly */
form{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width:500px;
    color: saddlebrown;
}

input {
    display: inline-block;
    margin-right: 10px;
}
body {

}